name: Deploy image to registry

env: 
  SERVICE_NAME: agentic-ai-website
  PROJECT_ID: powerful-star-471309-u8
  DOCKER_IMAGE_URL: us-east1-docker.pkg.dev/powerful-star-471309-u8/agent-website/agent

on:
  push:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
            docker build -t ${{ env.DOCKER_IMAGE_URL}}:latest -f Dockerfile .
            docker push ${{ env.DOCKER_IMAGE_URL }}:latest
      #     echo SERVICE_NAME $SERVICE_NAME
      #     gcloud run deploy $SERVICE_NAME \
      #       --image ${{ env.DOCKER_IMAGE_URL}}:latest \
      #       --platform managed \
      #       --region us-east1 \

